.banner{
    background-color: #242424;
    padding: 20px;
}

.header{
    height:40%;
    text-align: center;
    color: white;
    h1{
        font-weight: 900;
        font-size: 36px;
        margin-top: 15px;
        letter-spacing: 0.05em;
    }
    h1 span{
        size: 80px;
        color: #B7F200;
    }
}

.subheader{
    height: 50%;
    display: flex;
    align-items: center;
}

.card{
    border:0;
    background: transparent;
    color: white;
    margin: 20px;
    width: 120px;
    height: 100px;
    text-align: center;
    // img{
    //     width: 50px;
    //     margin: 0 auto;
    // }
    h2{
        color:#B7F200;
    }
    h5{
        font-weight: 500;
        font-size: 1em;
        color:#f23c00;
    }
    p{
        font-weight: 500;
    }
    .card-text{
        color:#727272;
    }
}


table {
    width: 100%;
    background-color: #212121;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}

mat-paginator{
    background-color: #212121;
}

mat-form-field{
    margin-top: 20px;
}