.header{
    height:40%;
    text-align: center;
    color: #B7F200;
    h2{
        font-weight: 900;
        font-size: 46px;
        margin-top: 50px;
        letter-spacing: 0.05em;
       }
}

.subheader{
    height: 50%;
    display: flex;
    align-items: center;
}