.banner{
    background-color: #242424;
    padding: 20px;
}

.header{
    height:40%;
    text-align: center;
    color: white;
    h1{
        font-weight: 900;
        font-size: 36px;
        margin-top: 15px;
        letter-spacing: 0.05em;
    }
    h1 span {
        size: 80px;
        color: #CDDC39;
    }
}

.row{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.card{
    border:0;
    width: 120px;
    height: 100px;
    background: transparent;
    text-align: center;
    .card-title{
        color:#CDDC39;
    }
    .card-text{
        color:#727272;
        font-weight: 500;
    }
}


table {
    width: 100%;
    background-color: #363636;
    th{
        font-size: 16px;
        color:#0095f2;
    }
    tr.coin-detail-row:hover{
        background: rgb(64, 64, 64);
    }
}


mat-paginator{
    background-color: #212121;
}

mat-form-field{
    margin-top: 20px;
}


$small: 320px;
$medium: 480px;

@media screen and (min-width: $small) and (max-width: $medium) {

    .row{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card{
        .card-title{
            font-size: 14px;
        }
        .card-text{
            font-size: 14px;
        }
    }

    table {
        th{
            font-size: 12px;
        }
        td{
            font-size: 12px;
            padding-left:5px;
        }
        img{
            display: none;
        }
    }
}