span a{
    color:#B7F200;
    text-decoration: none;
}

.example-spacer {
    flex: 1 1 auto;
}

p{
    font-weight: 100;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 30px;
}

mat-form-field{
    font-weight: 100;
    font-size: 14px;
}