*{
    color:white;
}

.details{
    margin-top:50px;
    margin-left:50px;
}


.title{
    color:#0095f2;
}

.btn-custom {
    color:#fff;
    background: transparent;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #fff;
    width: 20%;
}

.btn-custom:focus {
    background: #CDDC39;
    color:black;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #CDDC39;
}

$small: 320px;
$medium: 480px;

@media screen and (min-width: $small) and (max-width: $medium) {
    .details{
        margin-left:10px;
    }
    .col-md-9{
        margin-top: 50px;
    }
    .btn-custom {
        width: 30%;
        padding: 3px;
    }
}